services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: inventario_db
      POSTGRES_USER: inventario_user
      POSTGRES_PASSWORD: inventario_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  django1:
    build: .
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8080"
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      - DJANGO_DB_HOST=${DJANGO_DB_HOST}
      - DJANGO_DB_NAME=${DJANGO_DB_NAME}
      - DJANGO_DB_USER=${DJANGO_DB_USER}
      - DJANGO_DB_PASSWORD=${DJANGO_DB_PASSWORD}
      - ALERT_EMAIL=${ALERT_EMAIL}
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
      - EMAIL_HOST=${EMAIL_HOST}
      - EMAIL_PORT=${EMAIL_PORT}
      - EMAIL_USE_TLS=${EMAIL_USE_TLS}
      - DEFAULT_FROM_EMAIL=${DEFAULT_FROM_EMAIL}
      - KONG_ADMIN_URL=${KONG_ADMIN_URL}
      - AUTHZ_DOMAIN=${AUTHZ_DOMAIN}
      - AUTHZ_AUDIENCE=${AUTHZ_AUDIENCE}
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      - INTEGRITY_KEY=${INTEGRITY_KEY}
      - RECALCULAR_HASH=${RECALCULAR_HASH}
    env_file:
      - .env

  django2:
    build: .
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8081"
    volumes:
      - .:/app
    ports:
      - "8081:8081"
    depends_on:
      - postgres
    environment:
      - DJANGO_DB_HOST=${DJANGO_DB_HOST}
      - DJANGO_DB_NAME=${DJANGO_DB_NAME}
      - DJANGO_DB_USER=${DJANGO_DB_USER}
      - DJANGO_DB_PASSWORD=${DJANGO_DB_PASSWORD}
      - ALERT_EMAIL=${ALERT_EMAIL}
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
      - EMAIL_HOST=${EMAIL_HOST}
      - EMAIL_PORT=${EMAIL_PORT}
      - EMAIL_USE_TLS=${EMAIL_USE_TLS}
      - DEFAULT_FROM_EMAIL=${DEFAULT_FROM_EMAIL}
      - KONG_ADMIN_URL=${KONG_ADMIN_URL}
      - AUTHZ_DOMAIN=${AUTHZ_DOMAIN}
      - AUTHZ_AUDIENCE=${AUTHZ_AUDIENCE}
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      - INTEGRITY_KEY=${INTEGRITY_KEY}
      - RECALCULAR_HASH=${RECALCULAR_HASH}
  django3:
    build: .
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8082"
    volumes:
      - .:/app
    ports:
      - "8082:8082"
    depends_on:
      - postgres
    environment:
      - DJANGO_DB_HOST=${DJANGO_DB_HOST}
      - DJANGO_DB_NAME=${DJANGO_DB_NAME}
      - DJANGO_DB_USER=${DJANGO_DB_USER}
      - DJANGO_DB_PASSWORD=${DJANGO_DB_PASSWORD}
      - ALERT_EMAIL=${ALERT_EMAIL}
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
      - EMAIL_HOST=${EMAIL_HOST}
      - EMAIL_PORT=${EMAIL_PORT}
      - EMAIL_USE_TLS=${EMAIL_USE_TLS}
      - DEFAULT_FROM_EMAIL=${DEFAULT_FROM_EMAIL}
      - KONG_ADMIN_URL=${KONG_ADMIN_URL}
      - AUTHZ_DOMAIN=${AUTHZ_DOMAIN}
      - AUTHZ_AUDIENCE=${AUTHZ_AUDIENCE}
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      - INTEGRITY_KEY=${INTEGRITY_KEY}
      - RECALCULAR_HASH=${RECALCULAR_HASH}

  monitor:
    build: .
    dns:
      - 8.8.8.8
      - 1.1.1.1
    command: sh -c "sleep 10 && python manage.py monitor_kong --kong-admin http://kong:8005 --upstream provesi_upstream --interval 30 --email $${ALERT_EMAIL:-admin@example.com} --circuit-threshold 2"
    volumes:
      - .:/app
    depends_on:
      - kong
      - postgres
    environment:
      - DJANGO_DB_HOST=postgres
      - DJANGO_DB_NAME=inventario_db
      - DJANGO_DB_USER=inventario_user
      - DJANGO_DB_PASSWORD=inventario_pass
      - ALERT_EMAIL=${ALERT_EMAIL}
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
      - EMAIL_HOST=${EMAIL_HOST}
      - EMAIL_PORT=${EMAIL_PORT}
      - EMAIL_USE_TLS=${EMAIL_USE_TLS}
      - DEFAULT_FROM_EMAIL=${DEFAULT_FROM_EMAIL}
      - DJANGO_EMAIL_BACKEND=${DJANGO_EMAIL_BACKEND:-django.core.mail.backends.smtp.EmailBackend}
      - KONG_ADMIN_URL=http://kong:8005
      - KONG_UPSTREAM=provesi_upstream
      - KONG_POLL_INTERVAL=30
      - CIRCUIT_BREAKER_THRESHOLD=2
    restart: unless-stopped

  kong:
    image: kong:3.0
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: "/kong.yml"
      KONG_PROXY_ACCESS_LOG: "/dev/stdout"
      KONG_ADMIN_ACCESS_LOG: "/dev/stdout"
      KONG_PROXY_ERROR_LOG: "/dev/stderr"
      KONG_ADMIN_ERROR_LOG: "/dev/stderr"
      KONG_ADMIN_LISTEN: "0.0.0.0:8005"
      KONG_PROXY_LISTEN: "0.0.0.0:8000"
    ports:
      - "8000:8000"
      - "8005:8005"
      - "8443:8443"
    volumes:
      - ./kong.yml:/kong.yml
    depends_on:
      - django1
      - django2
      - django3

volumes:
  postgres_data:
