{% extends 'base.html' %}

{% block title %}Lista de Bodegas{% endblock %}

{% block content %}
  <h2>Bodegas</h2>
  <ul>
    <div class="container text-center">
        <div class="row">
          {% for bodega in bodegas %}
          <div class="col">
            Column
          </div>
          <div class="col">
            Column
          </div>
          <div class="col">
            Column
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ bodega.ciudad }}</h5>
          <p class="card-text">{{ bodega.direccion }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    {% endfor %}
  </ul>
{% endblock %}